:root {
  --red: rgb(255, 20, 36);
  --purple: rgb(173, 8, 155);
  --magenta: rgb(223, 25, 74);

  --bg-color-1: rgb(14, 14, 14);
  --bg-color-2: rgb(20, 20, 20);
}

body {
  background: linear-gradient(to bottom, var(--bg-color-1), var(--bg-color-2));
  display: grid;
  width: 100vw;
  height: 100vh;
  max-width: 90vw;
  max-height: 90vh;
  padding: 50px;
  align-items: center;
  gap: 150px;
  color: #fff;
  overflow: hidden;
  margin: auto;
}

h1 {
  color: #fff;
  font-family: Inter;
  font-size: 128px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 6.4px;
  width: fit-content;
  height: fit-content;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

@keyframes background-pan {
    from {
      background-position: 0% center;
    }
  
    to {
      background-position: 200% center;
    }
}

h1 > .gradientHeading {
  font-family: Inter;
  font-size: 128px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 6.4px;
  animation: background-pan 3s linear infinite;
  background: linear-gradient(to right, var(--red), var(--magenta), var(--purple), var(--red));
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
  height: fit-content;
}

h2 {
  color: #fff;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 25px;
  height: fit-content;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.coloredHeading {
  color: var(--magenta);
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 4.8px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  text-align: left;
}

.descText {
  color: #6A6A6A;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -1.6px;
}

div > .mainIntro {
  text-align: left;
  justify-items: left;
}

.socialsSection {
  align-self: end;
  justify-self: center;
  text-align: center;
  text-shadow: 0px 2px 5px white;
}

div > .socialsIconContainer {
  display: flex;
  width: 525px;
  height: 75px;
  justify-content: center;
  align-items: flex-start;
  gap: 75px;
  margin-block-start: 10px;
}

svg > .socialsIcon {
  width: 75px;
  height: 75px;
  flex-shrink: 0;
}

#image {
  opacity: 1;
}